<div class="jumbotron">
    <h1>Buzzwater!</h1>
    <p>"Buzzwater changed my life!" - Unknown user</p>
    <p>
      <a class = "btn btn-primary btn-lg" role = "button">Learn more</a>
    </p>
</div>

<div class="container">
  <div class="row">
    <div class="row marketing col-md-12">
      <h4>More buzz</h4>
      <p>
        Want more buzz? <a ng-href="#/buzz">Click here!</a>
      </p>

      <h4>More water</h4>
      <p>
        Perhaps you'd like to see some water instead? Well, <a ng-href="#/water">click here!</a>
      </p>

      <h4>More buzzwater</h4>
      <p>
        A little buzzwater is good, more must be better! <a ng-href="#/buzzwater">Click here</a> to buzz some water!
      </p>
      <nvd3 options="options" data="data"></nvd3>
    </div>
  </div>
</div>
