<!-- Navigation bar -->
<div class="header">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/">Buzzwater</a>
      </div>
      <div class="collapse navbar-collapse" id="js-navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#/" >Kartta</a></li>
          <li class="active"><a href="#/stationlist" >Pumppaamot</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
	<br><br><br>
	<input type="text" placeholder="Etsi nimellä" ng-model="search.name"/>
	<table class="table">
		<caption>Pumppaamot</caption>
			<tr>
				<th>Nimi</th>
				<th>Flow Quality</th>
				<th>Latitude</th>
				<th>Longitude</th>
			</tr>
	    <tr ng-repeat="station in markers | filter: search | orderBy: 'name'">
		    <td><a ng-click="openStation(station)">{{station.name}}</a></td>
		    <td>{{station.flowQuality}}</td>
				<td>{{station.coords.latitude}}</td>
				<td>{{station.coords.longitude}}</td>
		  </tr>
	</table>
</div>


<!-- Footer -->
<div class="footer">
  <div class="container">
    <p><span class="glyphicon glyphicon-tint"></span> More buzz since 2016!</p>
  </div>
</div>
