<div class="container">
	<br><br><br>
	<input type="text" placeholder="Etsi nimellä" ng-model="search.name"/>
	<table class="table">
		<caption>Pumppaamot</caption>
			<tr>
				<th>Nimi</th>
				<th>Flow Quality</th>
				<th>Latitude</th>
				<th>Longitude</th>
			</tr>
	    <tr ng-repeat="station in markers | filter: search | orderBy: 'name'">
		    <td><a ng-click="openStation(station)">{{station.name}}</a></td>
		    <td>{{station.flowQuality}}</td>
				<td>{{station.coords.latitude}}</td>
				<td>{{station.coords.longitude}}</td>
		  </tr>
	</table>
</div>


<!-- Footer -->
<div class="footer">
  <div class="container">
    <p><span class="glyphicon glyphicon-tint"></span> More buzz since 2016!</p>
  </div>
</div>
